code-box input {
    font-size: larger;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    caret-shape: block;
}

code-box input::placeholder {
    font-weight: normal;
    font-family: monospace;
}
