modal-dialog {
    --modal-bg: white;
    --modal-border: none;
    --modal-border-radius: 0;
    --modal-padding: 16px;

    --modal-backdrop-color: black;

    --modal-close-size: 16px;
    --modal-close-top: 10px;
    --modal-close-right: 10px;
    --modal-close-padding: 0px;
    --modal-close-border: none;
    --modal-close-border-radius: calc(var(--modal-close-size) / 8);
    --modal-close-outline-color: #3c8dbc;
    --modal-close-outline-width: 2px;
    --modal-close-outline-style: solid;
    --modal-close-color: #6c6c6c;
    --modal-close-color-hover: #3e3e3e;
    --modal-close-color-active: #222;
    --modal-close-bg: none;
    --modal-close-bg-hover: rgba(0, 0, 0, 0.05);
    --modal-close-bg-active: rgba(0, 0, 0, 0.1);
}

/* @starting-style yeterince yaygınlaşırsa */

modal-dialog > dialog {
    background: var(--modal-bg);
    border: var(--modal-border);
    border-radius: var(--modal-border-radius);
    padding: var(--modal-padding);
    opacity: 0;
    transform: translateY(100vh) scale(0, 0);
    transition: all 0.3s ease;
}

modal-dialog > dialog[open][data-active] {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
}

modal-dialog > dialog::backdrop {
    opacity: 0;
    background: var(--modal-backdrop-color);
    transition: all 0.3s ease;
}

modal-dialog > dialog[data-active]::backdrop {
    opacity: 0.5;
}

/* #region CLOSE BUTTON */

modal-dialog > dialog > [data-role='close'] {
    position: absolute;
    top: var(--modal-close-top);
    right: var(--modal-close-right);
    width: var(--modal-close-size);
    height: var(--modal-close-size);
    color: var(--modal-close-color);
    padding: var(--modal-close-padding);
    border: var(--modal-close-border);
    border-radius: var(--modal-close-border-radius);
    background: var(--modal-close-bg);
    outline-width: var(--modal-close-outline-width);
    outline-color: var(--modal-close-outline-color);
    transition: all 0.2s;
    cursor: pointer;
}

modal-dialog > dialog > [data-role='close']:hover {
    background: var(--modal-close-bg-hover);
    color: var(--modal-close-color-hover);
}

modal-dialog > dialog > [data-role='close']:focus,
modal-dialog > dialog > [data-role='close']:focus-visible {
    outline-style: var(--modal-close-outline-style);
}

modal-dialog > dialog > [data-role='close']:active {
    background: var(--modal-close-bg-active);
    color: var(--modal-close-color-active);
    transform: scale(0.85);
    outline: none;
}

/* #endregion CLOSE BUTTON */
