*[data-not-ready],
/* *[data-not-ready] *, */
*:not(:defined)/*
*:not(:defined) *  */ {
    display: none;
    pointer-events: none;
}

* {
    scroll-behavior: smooth;
}

/* :is(base-input, check-box, text-box, plate-box, phone-box, email-box, integer-box, select-box, combo-box):defined {
    opacity: 1;
    transition: opacity 0.3s ease;
}

:is(base-input, check-box, text-box, plate-box, phone-box, email-box, integer-box, select-box, combo-box):not(:defined) {
    opacity: 0.7;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    width: 200px;
    height: 20px;
    display: block;
} */

:is(base-input, check-box, text-box, plate-box, phone-box, email-box, integer-box, password-box, confirm-password-box, new-password-box, select-box)
    :is(input, select)[aria-invalid='true'] {
    border: 1px solid red;
}

combo-box input[data-role='value'][aria-invalid='true'] ~ input[data-role='search'] {
    border: 1px solid red;
}

/* :is(base-input, check-box, text-box, plate-box, phone-box, email-box, integer-box, select-box, modal-dialog):not(:defined) * {
    display: none;
    pointer-events: none;
} */

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

input:invalid:focus {
    box-shadow: none;
    outline: none;
}
input:user-invalid:focus {
    box-shadow: none;
    outline: none;
} /* standart */
input:-moz-ui-invalid:focus {
    box-shadow: none !important;
    outline: none !important;
} /* FF */

select-box,
combo-box {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    width: 300px;
}

tc-number > input {
    letter-spacing: 1.5px;
}
