:is(password-box, new-password-box, confirm-password-box) {
    --password-indicator-size: 20px;

    --password-toggle-color: #6c6c6c;
    --password-toggle-hover: #3e3e3e;
    --password-toggle-active: #222;
    --password-toggle-bg-hover: rgba(0, 0, 0, 0.05);
    --password-toggle-bg-active: rgba(0, 0, 0, 0.1);

    position: relative;
    display: inline-block;
}

:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility'] {
    width: var(--password-indicator-size);
    height: var(--password-indicator-size);
    transition: all 0.2s;

    border: none;
    background: none;
    line-height: 0px;
    padding: 2px;
    border-radius: 3px;

    color: var(--password-toggle-color);

    cursor: pointer;
}

:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility']:hover {
    background: var(--password-toggle-bg-hover);
    color: var(--password-toggle-hover);
}

:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility']:active {
    background: var(--password-toggle-bg-active);
    transform: scale(0.85);
    color: var(--password-toggle-active);
}

:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility'] > svg {
    color: inherit;
    fill: currentColor;
}
:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility'] > svg:first-child,
:is(password-box, new-password-box, confirm-password-box)[revealed] > [data-role='toggle-visibility'] > svg:last-child {
    display: none;
}

:is(password-box, new-password-box, confirm-password-box)[revealed] > [data-role='toggle-visibility'] > svg:first-child,
:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility'] > svg:last-child {
    display: block;
}

new-password-box {
    --password-strength-height: 4px;
    --password-strength-bg: #e1e1e1;
    --password-strength-radius: 3px;
}

new-password-box .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

new-password-box > .strength {
    margin-top: 4px;
    background: var(--password-strength-bg);
    height: var(--password-strength-height);
    border-radius: var(--password-strength-radius);
    overflow: hidden;
    position: relative;
}

new-password-box > .strength > .fill {
    height: 100%;
    width: 0%;
    background: red;
    transition:
        width 0.25s ease,
        background-color 0.25s ease;
}

new-password-box > .strength > .fill.red {
    background-color: red;
    width: 25%;
}

new-password-box > .strength > .fill.orange {
    background-color: orange;
    width: 50%;
}

new-password-box > .strength > .fill.gold {
    background-color: gold;
    width: 75%;
}

new-password-box > .strength > .fill.green {
    background-color: green;
    width: 100%;
}
