.sb-console-root {
    position: relative;
    background-color: #2b2b2b;
    box-sizing: border-box;
    min-height: 50px;
}

.sb-console-body {
    color: #ff6b6b;
    padding: 12px;
    overflow-y: auto;
    height: 100%;
    box-sizing: border-box;
}

.sb-console-clear {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 4px 10px;
    background: rgba(0, 0, 0, 0.65);
    color: rgb(201, 204, 207);
    font-weight: 700;
    font-size: 12px;
    font-family:
        'Nunito Sans',
        -apple-system,
        Arial,
        sans-serif;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

.sb-console-log {
    padding: 2px 0;
    font-size: 13px !important;
    font-family: Consolas, Monaco, 'Andale Mono', monospace !important;
    white-space: pre-wrap;
    word-break: break-all;
}
