phone-with-area {
    display: flex;
    flex-direction: row;

    combo-box {
        margin-right: 1rem;
        width: 110px;

        [data-role='display'] span:first-of-type {
            display: none;
        }

        [role='listbox'] [role='option'] {
            span:first-of-type {
                margin-right: 5px;
            }

            span:last-of-type:before {
                display: inline-block;
                content: '(';
            }

            span:last-of-type:after {
                display: inline-block;
                content: ')';
            }
        }
    }
}

phone-with-area-2 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    max-width: 250px;
    display: block;

    label {
        margin-bottom: 6px;
        display: inline-block;
        position: relative;
        font-size: 14px;
    }

    [role='container'] {
        --intl-border-color: #d2d6de;
        --intl-border-color-hover: #9ca3af;
        --intl-border-color-focus: #3b82f6;
        --intl-border-color-invalid: #ef4444;
        --intl-border-color-disabled: #cbd5e1;

        flex-direction: row;
        border: solid 1px var(--intl-border-color);
        display: inline-flex;

        &:hover {
            border-color: var(--intl-border-color-hover);
        }
        &:focus-within {
            border-color: var(--intl-border-color-focus);
        }
        &:has([aria-invalid='true']) {
            border-color: var(--intl-border-color-invalid);
        }
        &:has(input:disabled) {
            border-color: var(--intl-border-color-disabled);
        }

        :is(combo-box, .combo-box) {
            --cbx-clear-right-distance: 0;
            --cbx-chevron-right-distance: 2px;
            --cbx-listbox-max-height: 200px;

            flex-shrink: 0;
            width: 60px;

            &:hover [role='combobox'],
            &:focus-within [role='combobox'] {
                background-color: #eeeeee;
            }

            [role='listbox'] {
                translate: -1px 1px;

                [data-role='search'] {
                    position: sticky !important;
                    background: white !important;
                    box-shadow: white 0 -5px !important;
                    top: 1px;
                    padding-inline-start: 8px;
                    height: 35px;
                }

                [role='option'] {
                    span:first-of-type {
                        margin-right: 5px;
                    }

                    span:last-of-type:before {
                        display: inline-block;
                        content: '(';
                    }

                    span:last-of-type:after {
                        display: inline-block;
                        content: ')';
                    }
                }
            }

            [role='combobox'] {
                height: 100%;

                [data-filtered] > div[data-role='display'] {
                    opacity: 0.5;
                }
            }

            [data-role='display'] span {
                display: none;
            }
        }

        phone-intl-2 {
            --tbx-padding: 8px 8px 8px 52px;
            --tbx-placeholder-letter-spacing: 1.5px;

            input {
                border: none !important;
                outline: none !important;
            }

            pre:first-child {
                position: absolute;
                left: 8px;
                top: 50%;
                translate: 0 -50%;
                display: inline-block !important;
                text-align: center;
                width: 37px;
            }
        }
    }

    [data-role='error-message'] {
        color: #ef4444;
        margin-top: 4px;
        font-size: 13px;
        line-height: 16px;
    }
}

custom-page-3 {
    nav ul li:nth-child(3) {
        span span {
            margin: 0 4px;
            color: black;
        }
    }
}

custom-page-4 nav ul li {
    &.mobile-only {
        display: none;

        span span {
            margin: 0 4px;
            color: black;
        }
    }

    @media (max-width: 960px) {
        &:not(.mobile-only):not(:nth-child(-n + 2)):not(:nth-last-child(-n + 2)) {
            display: none;
        }

        &.mobile-only {
            display: block;
        }
    }
}

.combo-box div[role='combobox'] {
    height: 100%;
}
