.sb-page {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

.sb-page .sb-container {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    flex-grow: 1;
    box-sizing: border-box;
}

.sb-page .sb-container:last-child {
    display: none;
}

.sb-page.sb-side-control .sb-container:first-child {
    border-right: solid 1px #bfc5cc;
}
.sb-page.sb-side-control .sb-container:last-child {
    display: flex;
}

.sb-page.sb-side-control .sb-container:first-child .sb-panel-title,
.sb-page.sb-side-control .sb-container:first-child .sb-panel {
    display: none;
}

.sb-canvas {
    flex-shrink: 0;
}

.sb-canvas > div {
    margin: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.sb-title {
    padding: 8px 20px;
    background: #d7dfe7;
    display: flex;
    align-items: center;
    margin-top: auto;
}

.sb-title :is(h3, h4) {
    margin: 0;
    color: rgb(0, 109, 235);
}

.sb-title button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    border: none;
    background: none;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    color: #006deb;
}

.sb-title button:hover {
    background: #dbeafc;
    color: #2e3338;
}

.sb-panel {
    border-top: solid 1px #dfe4ea !important;
    overflow: auto;
    flex-grow: 1;
}

.sb-panel > div > div > div:first-child {
    z-index: 2;
}

.sb-panel table {
    margin: 0 !important;
    background-color: rgb(246, 249, 252);
}

.sb-panel table tbody {
    filter: none !important;
}

.sb-panel table thead tr > th,
.sb-panel table tbody tr > td {
    width: auto !important;
}

.sb-panel table thead tr > th:nth-child(4),
.sb-panel table tbody tr > td:nth-child(4) {
    width: 50% !important;
}

.sb-panel table tbody tr > :first-of-type {
    border-top-left-radius: 0 !important;
    border-inline-start: none !important;
}

.sb-panel table thead tr > :last-of-type {
    border-top-right-radius: 0 !important;
    border-inline-end: none !important;
}

.sb-console-root {
    flex-grow: 1;
}

@media screen and (max-width: 768px) {
    .sb-page.sb-side-control .sb-container:first-child {
        border-right: none;
    }
    .sb-page.sb-side-control .sb-container:last-child {
        display: none;
    }

    .sb-page.sb-side-control .sb-container:first-child .sb-panel-title,
    .sb-page.sb-side-control .sb-container:first-child .sb-panel {
        display: block;
    }

    .sb-title button {
        display: none;
    }
}
