.sb-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

.sb-canvas {
    flex-shrink: 0;
}

.sb-canvas > div {
    margin: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.sb-title {
    padding: 8px 20px;
    border-top: solid 1px #d7dfe7;
}

.sb-title :is(h3, h4) {
    margin: 0;
    color: rgb(0, 109, 235);
}

.sb-panel {
    border-top: solid 1px #dfe4ea !important;
    overflow: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.sb-panel > div > div > div:first-child {
    z-index: 2;
}

.sb-panel table {
    margin: 0 !important;
    background-color: rgb(246, 249, 252);
}

.sb-panel table tbody {
    filter: none !important;
}

.sb-panel table thead tr > th,
.sb-panel table tbody tr > td {
    width: auto !important;
}

.sb-panel table thead tr > th:nth-child(4),
.sb-panel table tbody tr > td:nth-child(4) {
    width: 50% !important;
}

.sb-panel table tbody tr > :first-of-type {
    border-top-left-radius: 0 !important;
    border-inline-start: none !important;
}

.sb-panel table thead tr > :last-of-type {
    border-top-right-radius: 0 !important;
    border-inline-end: none !important;
}
