modal-dialog {
    --modal-close-size: 16px;
    --modal-close-location: 10px;
    --modal-close-bg-hover: rgba(0, 0, 0, 0.05);
    --modal-close-bg-active: rgba(0, 0, 0, 0.1);
    --modal-close-color: #6c6c6c;
    --modal-close-hover: #3e3e3e;
    --modal-close-active: #222;

    --modal-backdrop-color: black;
}

modal-dialog[data-not-ready] * {
    display: none;
    pointer-events: none;
}

modal-dialog > dialog {
    opacity: 0;
    transform: translateY(100vh) scale(0, 0);
    transition: all 0.3s ease;
}

modal-dialog > dialog[open].active {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
}

modal-dialog > dialog::backdrop {
    opacity: 0;
    background: var(--modal-backdrop-color);
    transition: all 0.3s ease;
}

modal-dialog > dialog.active::backdrop {
    opacity: 0.5;
}

modal-dialog > dialog > .btn-close {
    position: absolute;
    top: var(--modal-close-location);
    right: var(--modal-close-location);
    width: var(--modal-close-size);
    height: var(--modal-close-size);
    color: var(--modal-close-color);
    transition: all 0.2s;
    background: none;
    border: none;
    border-radius: calc(var(--modal-close-size) / 8);
    cursor: pointer;
    padding: 2px;
}

modal-dialog > dialog > .btn-close:hover {
    background: var(--modal-close-bg-hover);
    color: var(--modal-close-hover);
}

modal-dialog > dialog > .btn-close:active {
    background: var(--modal-close-bg-active);
    color: var(--modal-close-active);
    transform: scale(0.85);
}

modal-dialog > dialog > .btn-close > svg {
    color: inherit;
    fill: currentColor;
}
