/* #region DESIGN TOKENS */

select-box {
    --sbx-bg-color: #ffffff;
    --sbx-bg-hover-color: #ffffff;
    --sbx-bg-disabled: #eef2f7;

    --sbx-font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --sbx-font-size: 14px;
    --sbx-text-color: #111827;
    --sbx-text-disabled: #6c757d;
    --sbx-text-invalid: #ef4444;
    --sbx-placeholder-color: #6b7280;
    --sbx-placeholder-focus-color: #111827;

    --sbx-border-color: #d2d6de;
    --sbx-border-hover-color: #9ca3af;
    --sbx-border-focus-color: #9ca3af; /* #3b82f6 */
    --sbx-border-invalid-color: #ef4444;
    --sbx-border-disabled: #cbd5e1;
    --sbx-border-radius: 0px;

    --sbx-outline-width: 1px;
    --sbx-outline-color: #3c8dbc;
    --sbx-outline-invalid-color: #ef4444;

    --sbx-height: 40px;
    --sbx-padding-x: 12px;

    --sbx-focus-ring: none; /* 0 0 0 3px rgba(59, 130, 246, 0.28); */
    --sbx-focus-ring-invalid: none; /* 0 0 0 3px rgba(59, 130, 246, 0.28); */

    /* Chevron */
    --sbx-chevron-size: 16px;
    --sbx-chevron-right-distance: 12px;

    /* Clear button */
    --sbx-clear-size: 17px;
    --sbx-clear-right-distance: 32px;
    --sbx-clear-padding: 4px;
    --sbx-clear-color: #6b7280;
    --sbx-clear-hover: #111827;
    --sbx-clear-active: #111827;
    --sbx-clear-bg-hover: rgba(17, 24, 39, 0.06);
    --sbx-clear-bg-active: rgba(17, 24, 39, 0.1);
    --sbx-clear-border-radius: 0px;
    --sbx-clear-outline-color: #3c8dbc;
    --sbx-clear-outline-width: 1px;
    --sbx-clear-outline-style: solid;

    font-family: var(--sbx-font-family);
    font-size: var(--sbx-font-size);
}

/* #endregion DESIGN TOKENS */

select-box > label {
    display: block;
    margin: 0 0 6px 0;
    font-size: inherit;
    line-height: 20px;
    font-weight: 500;
    color: var(--sbx-text-color);
}

select-box > div {
    position: relative;
}

select-box > div > select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 100%;
    box-sizing: border-box;

    height: var(--sbx-height);
    padding-left: var(--sbx-padding-x);
    padding-right: calc(var(--sbx-clear-right-distance) + var(--sbx-clear-size));

    background: var(--sbx-bg-color);
    border: 1px solid var(--sbx-border-color);
    border-radius: var(--sbx-border-radius);

    color: var(--sbx-text-color);
    font-size: inherit;
    line-height: 20px;

    text-overflow: ellipsis;

    transition:
        border-color 0.15s ease,
        box-shadow 0.15s ease,
        background-color 0.15s ease;
}

select-box > div > select:hover {
    background-color: var(--sbx-bg-hover-color);
    border-color: var(--sbx-border-hover-color);
}

select-box > div > select:focus-visible {
    border-color: var(--sbx-border-focus-color);
    box-shadow: var(--sbx-focus-ring);
    outline: var(--sbx-outline-width) solid var(--sbx-outline-color);
}

select-box > div > select:not([data-has-value]) {
    color: var(--sbx-placeholder-color);
}
select-box > div > select:not([data-has-value]):focus {
    color: var(--sbx-placeholder-focus-color);
}

select-box:has(> div > select:disabled) > label {
    color: var(--sbx-text-disabled);
}

select-box > div > select:disabled {
    border-color: var(--sbx-border-disabled);
    background: var(--sbx-bg-disabled);
    color: var(--sbx-text-disabled);
    box-shadow: none;
    cursor: not-allowed;
}

select-box > div > select[aria-invalid='true'] {
    border-color: var(--sbx-border-invalid-color);
    outline-color: var(--sbx-outline-invalid-color);
    box-shadow: var(--sbx-focus-ring-invalid);
}

select-box:has(select[aria-invalid='true']) [data-role='error-message'] {
    color: var(--sbx-text-invalid);
    margin-top: 4px;
    font-size: 13px;
    line-height: 16px;
}

/* #region CLEAR & CHEVRON */

select-box > div > select ~ :is([data-clear], [data-chevron]) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
}

/* Clear button */
select-box > div > select ~ [data-clear] {
    right: var(--sbx-clear-right-distance);
    width: var(--sbx-clear-size);
    height: var(--sbx-clear-size);
    color: var(--sbx-clear-color);
    padding: var(--sbx-clear-padding);
    outline-width: var(--sbx-clear-outline-width);
    outline-color: var(--sbx-clear-outline-color);
    border: none;
    border-radius: var(--sbx-clear-border-radius);
    background: none;
    cursor: pointer;
    line-height: 0px;
}

select-box > div > select ~ [data-clear]:hover {
    background: var(--sbx-clear-bg-hover);
    color: var(--sbx-clear-hover);
}

select-box > div > select ~ [data-clear]:focus-visible {
    outline-style: var(--sbx-clear-outline-style);
}

select-box > div > select ~ [data-clear]:active {
    background: var(--sbx-clear-bg-active);
    transform: translateY(-50%) scale(0.85);
    color: var(--sbx-clear-active);
}

select-box > div > select ~ [data-clear]:disabled {
    opacity: 0.35;
    pointer-events: none;
}

select-box > div > select ~ [data-clear] > svg {
    color: inherit;
    fill: currentColor;
}

/* Chevron */
select-box > div > select ~ [data-chevron] {
    right: var(--sbx-chevron-right-distance);
    width: var(--sbx-chevron-size);
    height: var(--sbx-chevron-size);
    color: var(--sbx-text-color);
    pointer-events: none;
    opacity: 0.85;
}

select-box > div > select[data-open] ~ [data-chevron] {
    transform: translateY(-50%) rotate(180deg);
}

/* Disabled */
select-box > div:has(> select:disabled) :is([data-chevron], [data-clear]) {
    opacity: 0.55;
}

select-box > div:has(> select:disabled) [data-clear] {
    pointer-events: none;
}

/* #endregion CLEAR & CHEVRON */
