combo-box {
    --cbx-bg-color: #e9e9ed;
    --cbx-hover-bg-color: #d0d0d7;
    --cbx-font-family: 'MS Shell Dlg \32', 'Microsoft Sans Serif', sans-serif;
    --cbx-font-size: 13.33px;

    --cbx-placeholder-color: #757575;
    --cbx-placeholder-focus-color: #111;

    --cbx-indicator-size: 16px;

    --cbx-clear-color: #6c6c6c;
    --cbx-clear-hover: #3e3e3e;
    --cbx-clear-active: #222;
    --cbx-clear-bg-hover: rgba(0, 0, 0, 0.05);
    --cbx-clear-bg-active: rgba(0, 0, 0, 0.1);
    --cbx-clear-right-distance: 28px;

    --cbx-chevron-right-distance: 12px;

    --cbx-listbox-max-height: 150px;
    --cbx-listbox-bg-color: #f3f3f3;
    --cbx-listbox-border-color: #bebebe;

    --cbx-option-hover-bg-color: #d6d6d6;
    --cbx-option-selected-bg-color: #b5b5b5;
    --cbx-option-disabled-bg-color: #e9e9ed;
    --cbx-option-disabled-color: #6e6e6f;
}

combo-box > div {
    position: relative;
    display: inline-block;
    background-color: var(--cbx-bg-color);
    font-family: var(--cbx-font-family);
    font-size: var(--cbx-font-size);
}

combo-box > div:hover {
    background-color: var(--cbx-hover-bg-color);
}

combo-box > div > :is([data-clear], [data-chevron]) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: var(--cbx-indicator-size);
    height: var(--cbx-indicator-size);
    transition: all 0.2s;
}

combo-box > div > [data-clear] {
    color: var(--cbx-clear-color);
    border: none;
    background: none;
    line-height: 0px;
    padding: 4px;
    right: var(--cbx-clear-right-distance);
    border-radius: 2px;
}

combo-box > div > [data-clear]:not(:disabled) {
    cursor: pointer;
}

combo-box > div > [data-clear]:not(:disabled):hover {
    background: var(--cbx-clear-bg-hover);
    color: var(--cbx-clear-hover);
}

combo-box > div > [data-clear]:not(:disabled):active {
    background: var(--cbx-clear-bg-active);
    transform: translateY(-50%) scale(0.85);
    color: var(--cbx-clear-active);
}

combo-box > div > [data-clear]:disabled {
    opacity: 0.35;
    pointer-events: none;
}

combo-box > div > [data-clear] > svg {
    color: inherit;
    fill: currentColor;
}

combo-box > div > [data-chevron] {
    right: var(--cbx-chevron-right-distance);
    pointer-events: none;
}

combo-box > div[data-open] > [data-chevron] {
    transform: translateY(-50%) rotate(180deg);
}

combo-box > div > div[role='listbox'][popover] {
    margin: 0;
    position: fixed;
    inset: unset; /* Tarayıcının ortalamasını engelle */

    scroll-behavior: auto;
    border-radius: 10px;
    padding: 4px;
    z-index: 10;
    max-height: var(--cbx-listbox-max-height);
    overflow-y: auto;
    background: var(--cbx-listbox-bg-color);
    border: 1px solid var(--cbx-listbox-border-color);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overscroll-behavior: contain;
}

combo-box > div > div[role='listbox'][popover]::backdrop {
    background-color: transparent;
}

combo-box > div > div[role='listbox']:popover-open {
    /* display: block; */
    /* margin-top: 4px; */
}

combo-box > div[data-up] > div[role='listbox'] {
    top: auto;
    bottom: 100%;
}

combo-box > div > div[role='listbox'] > div:not([hidden]) {
    display: flex;
    align-items: center;
    padding: 4px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 4px;
}

combo-box > div > div[role='listbox'] > div[aria-selected] {
    background: var(--cbx-option-selected-bg-color);
}

combo-box > div > div[role='listbox'] > div[data-active] {
    background: var(--cbx-option-hover-bg-color);
}

combo-box > div > div[role='listbox'] > div[aria-disabled] {
    background: var(--cbx-option-disabled-bg-color);
    color: var(--cbx-option-disabled-color);
    cursor: default;
    pointer-events: none;
    user-select: none;
}

combo-box > div:focus {
    outline: solid 2px #4d90fe;
}

combo-box input[data-role='value'] {
    position: absolute;
    border: none;
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    bottom: 0;
}

combo-box div[data-role='display'] {
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    width: calc(100% - var(--cbx-clear-right-distance) - var(--cbx-indicator-size));
    color: var(--cbx-placeholder-color);
}

combo-box > div[data-has-value] div[data-role='display'] {
    color: inherit;
}

combo-box > div[data-open] div[data-role='display'] {
    opacity: 0.5;
}
combo-box > div[data-filtered] div[data-role='display'] {
    opacity: 0;
}

combo-box input[data-role='search'] {
    padding-left: 4px;
    position: relative;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    padding-right: calc(var(--cbx-clear-right-distance) + var(--cbx-indicator-size));
}
