:is(password-box, new-password-box, confirm-password-box) {
    --password-indicator-size: 20px;

    --password-toggle-color: #6c6c6c;
    --password-toggle-hover: #3e3e3e;
    --password-toggle-active: #222;
    --password-toggle-bg-hover: rgba(0, 0, 0, 0.05);
    --password-toggle-bg-active: rgba(0, 0, 0, 0.1);

    position: relative;
}

:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility'] {
    transition: all 0.2s;

    border: none;
    background: none;
    line-height: 0px;
    padding: 2px;
    border-radius: 3px;
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--password-toggle-color);

    cursor: pointer;
}

:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility']:hover {
    background: var(--password-toggle-bg-hover);
    color: var(--password-toggle-hover);
}

:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility']:active {
    background: var(--password-toggle-bg-active);
    transform: scale(0.85);
    color: var(--password-toggle-active);
}

:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility'] > svg {
    width: var(--password-indicator-size);
    height: var(--password-indicator-size);
    color: inherit;
    fill: currentColor;
}
:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility'] > svg:first-child,
:is(password-box, new-password-box, confirm-password-box)[revealed] > [data-role='toggle-visibility'] > svg:last-child {
    display: none;
}

:is(password-box, new-password-box, confirm-password-box)[revealed] > [data-role='toggle-visibility'] > svg:first-child,
:is(password-box, new-password-box, confirm-password-box) > [data-role='toggle-visibility'] > svg:last-child {
    display: block;
}
